.main-menu{
    margin-top: 100px;
}
.firstspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;
}
.secondspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;
}
.thirdspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;

}
.fourthspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;

}
.fifthspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;

}
.sixthspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;
}
.seventhspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;
}
.eighthspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;
}
.ninethspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;
}
.tenthspan{
    height: 60px;
    color: white;
    text-align: center;
    border: 10px solid white;
    background-color: #ff5c0a;
}